<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web application catalouge for IC Resto">
    <meta name="theme-color" content="#FDF6EC" />
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <title>IC Resto</title>
</head>

<body id="home">
    <!-- skiplink -->
    <a href="#main-content" class="skip-link">Menuju ke konten</a>

    <!-- App Bar -->
    <app-bar></app-bar>

    <!-- Hero Element -->
    <hero-element></hero-element>

    <!-- Main Content -->
    <main tabindex="0" id="main-content" class="main-content__container"></main>

    <!-- Footer -->
    <footer-custom></footer-custom>
</body>

</html>